@import url(./_disabled/popup__save-button_disabled.css);

.popup__save-button {
    color: white;
    background-color: black;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    border: none;
    min-height: 50px;
    cursor: pointer;
    transition: all .2s ease;
  }
  
  .popup__save-button:hover {
    opacity: .5;
  }
  
  @media (max-width: 480px) {
    .popup__save-button {
      line-height: 17px;
      font-size: 14px;
    }
  }
  